set number relativenumber
set showmode 

" no bells
set visualbell
set noerrorbells

set clipboard+=unnamed
set clipboard+=ideaput

" vim shortcuts
sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-w> a:vim
sethandler <c-n> a:vim

" ide shortcuts
sethandler <c-f> a:ide
sethandler <c-h> a:ide
sethandler <c-r> a:ide

" map leader from , to space
let mapleader = "\<Space>"

" Window Navigation
nnoremap <c-\> :SplitVertically<CR>
nnoremap <c--> :SplitHorizontally<CR>
nnoremap <c-=> :Unsplit<CR>
nnoremap <c-m> :MoveEditorToOppositeTabGroup<CR>

nnoremap <leader>qt :action CloseEditor<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>
nnoremap <leader>gm :action Git.Menu<CR>

" move between open tabs
nnoremap gk gt
nnoremap gj gT

" Code editing
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>nf :action NewFile<CR>

nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

" IndentLines
nnoremap = :action AutoIndentLines<CR>

vnoremap < <gv
vnoremap > >gv

" Source Code Navigation
set incsearch

nnoremap <c-t> :action GotoFile<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotToDeclaration<CR>
nnoremap gd :action GotToDeclaration<CR>

" Build
nnoremap <leader>bs :action RebuildSolutionAction<CR>
nnoremap <leader>bsp :action RebuildStartupProject<CR>

" NERDTree"
set NERDTree

let g:NERDTreeMapJumpParent='h'

nmap <Leader>. :NERDTreeFocus<CR>
map <Leader>e :NERDTreeToggle<CR>

" multiple-cursors

set multiple-cursors
