set number relativenumber
set showmode 

" no bells
set visualbell
set noerrorbells

set clipboard+=unnamed

" vim shortcuts
sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-w> a:vim
sethandler <c-n> a:vim
sethandler <c-p> a:vim
sethandler <c-a> a:vim

" ide shortcuts
sethandler <c-f> a:ide
sethandler <c-h> a:ide
sethandler <c-r> a:ide

" map leader from , to space
let mapleader = "\<Space>"

" Window Navigation
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>

nnoremap <leader>l :action MoveEditorToOppositeTabGroup<CR>

nnoremap <leader><Left> :action StretchSplitToLeft<CR>
nnoremap <leader><Right> :action StretchSplitToRight<CR>

noremap <leader>qt :action CloseEditor<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>
nnoremap <leader>gm :action Git.Menu<CR>

" Code editing
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <C-p>t :action PinActiveTabToggle<CR>

nnoremap gk gt
nnoremap gj gT

nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

" IndentLines
nnoremap = :action AutoIndentLines<CR>

vnoremap < <gv
vnoremap > >gv

" Source Code Navigation
set incsearch

nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-t> :action GotoFile<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>

" Terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

" Build
nnoremap <leader>bs :action RebuildSolutionAction<CR>
nnoremap <leader>bsp :action RebuildStartupProject<CR>

" NERDTree"
set NERDTree

let g:NERDTreeMapJumpParent='h'

nmap <Leader>. :NERDTreeFocus<CR>
map <Leader>e :NERDTreeToggle<CR>

" multiple-cursors

set multiple-cursors
