[alias]
	home = "config --global user.email 'tutpaim@gmail.com';"
	tb = "config --global user.email 'tulio.p@thinkbridge.com';"
[user]
	email = "tutpaim@gmail.com;"
	name = Túlio Paim
	email = tutpaim@gmail.com
[credential "https://gitlab.com"]
	provider = generic
[fetch]
	prune = true
[core]
	ignorecase = false
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[push]
	autoSetupRemote = true
[safe]
	directory = C:/Users/tutpa/.dotfiles
